
@model VkWeb.Models.TopMadels

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>        
        <p>Top </p>

        @*<ul id="Top">*@
            <ol type="1">
            @foreach (var name in @Model.top)
            {
                <li> @name</li>
            }
            </ol>
        @*</ul>*@

    </div>
        
</body>
</html>

